<app-adminheader></app-adminheader>
<div class="container">
    <app-adminleftmenu></app-adminleftmenu>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Complaints</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/manage/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Complaints</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="_datatable" *ngIf="dataSource">
            <app-table91 tableTitle="Complaints" linkEdit="/manage/complaintinfo/"
                [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-table91>
        </div>

    </main>
    <div class="right">
        <app-announcements></app-announcements>
    </div>
</div>